#contactus {
    background-color: #ffe5b4;
    padding: 2rem;
    border-radius: 12px;
    width: 35rem;
    margin: 20px auto;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, .4);
}
#contactus h1{
    text-align: left;
}
#contactus button{
    display: block;
    margin: auto;
    width: 100px;
    border-width: 1px;
}
#text{
    margin: 10px auto 10px 47px;
    width: 26.8rem;
    resize: none;

}
.contact-comment{
    margin: auto;
}
