{% extends 'base.html' %}
{% load static %}
{% block title_page %}
	BeadLoomy shop
{% endblock %}

{% block header_reference %}
	<link rel="stylesheet" href="{% static 'main/main_page.css' %}">
    <link rel="stylesheet" href="{% static 'products/product_list.css' %}">
{% endblock %}

{% block content_page %}

    <section id="latest-posts">
        <h2>Latest posts:</h2>
        <div class="row">
            {% for product in all_products %}
            	<div class="col">
                    <div class="card">
                        <img src="{{ product.pro_pic.url }}" class="card-img-top" alt="{{ product.title }}">
                        <div class="card-body">
                            <p class="card-text">
                                <h4><a href="products/{{ product.slug }}">{{ product.title }}</a></h4><br>
                                {{ product.date }}<br>
                                {{ product.info }}<br>
                                <a href="{% url 'products_by_category' category_slug=product.category.url_title %}">{{ product.category.title }}</a>,
                                {% for tag in product.pro_tag.all %}
                                    <a href="{% url 'products_by_tag' tag_slug=tag.tag %}">{{ tag.tag }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %},
                                {% for color in product.pro_color.all %}
                                    <a href="{% url 'products_by_color' color_slug=color.url_color %}">{{ color.color }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %},
                                {% for style in product.pro_style.all %}
                                    <a href="{% url 'products_by_style' style_slug=style.url_style %}">{{ style.style }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <h5>{{ product.price }} Toman</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="view-all-btn" onclick="window.location.href='{% url 'all_products' %}'">All products</button>
    </section>
{% endblock %}